body {
    margin: 0;
    height: 100vh;
    font-family: 'Libre Baskerville';
    background-color: #2A2A2A ;
}

/* Header //////////////////////////////////////////////////// */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #264653;
    padding: 0 2rem;
    height: 90px;
    box-shadow: 0 0 8px black;
    user-select: none;
    position: relative;
    z-index: 100;
}

.title {
    font-size: 2.1rem;
    color: #E9C46A;
    font-family: "Cinzel", serif;
    font-weight: bold;
    margin-right: 3rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinks {
    flex-grow: .15;
    height: 100%;
    justify-content: space-between;
    margin-right: 2rem;
}

.navLinks_titles {
    cursor: pointer;
    color:  #F4A261;
    font-size: 1.3rem;
    width: 200px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}

.navLinks_titles svg {
    margin-left: .5rem;
}

.navLinks_titles svg , .navLinks_titles {
    transition: .3s ease-in-out;
}

/* Nav Links */

.navLinks > div {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLinks_lists {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#2D5546 ;
    width: 120%;
    border-radius: 0 0 1rem 1rem;
    transition: .55s ease-in-out ;
    list-style: none;
    margin: 0 ;
    box-shadow: 0 0 4px #1c3129;
    top: 100% !important;
    max-height: 0;
    overflow: hidden;
    padding: 0 .5rem;
    z-index: 50;
}

.navLinks_lists li {
    background-color: #224035;
    width: 100%;
    padding: .8rem 0;
    margin: .5rem 0;
    font-weight: 600;
    letter-spacing: 1px;
    color: #eeece8;
    cursor: pointer;
    text-align: center;
    border-radius: 1rem;
    transition: .3s;
    box-shadow: 0 5px 0 #1d362d;
}

.navLinks_lists li:hover {
    color: #d9d9d9;
    background-color: #224035e4;
    box-shadow: 0 4px 0 #12211b;
    transform: translateY(1px);
}

.navLinks_lists li:active {
    box-shadow: 0 1px 0 #1d362d;
    transform: translateY(4px);
    transition: .1s;
}

.navLinks-links:hover > .navLinks_lists {
    max-height: 500px;
    padding: 1rem .5rem !important;
}

.navLinks > div:hover .navLinks_titles {
    color:  #d4711f;
}

.navLinks > div:hover .navLinks_titles svg{
    transform: rotateZ(90deg);
}

/* Header Book Section */

.navSelection {
    position: absolute;
    width: 50%;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 3px 5px #152921;
    color: #eeece8;
    transition: .4s ease-in-out ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 0;
    background-color: #2A4E59;
    box-shadow: 0 3px 2px black;
}

.navSelection-title {
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    z-index: 5;
    border-radius: 1rem 1rem 0 0;
    max-height: 0;
    overflow: hidden;
    transition: .25s ease-in-out ;
    padding: 0 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #305a6a;
    color: #ebebeb;
}

.navSelection ul {
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0;
    overflow-x: auto;
    padding: .67rem 0;
    scroll-behavior: smooth;
    margin: 0 .5rem;
}

.navSelection ul::-webkit-scrollbar {
    height: 10px;
    background-color: inherit;
    border-radius: 0 0 1rem 1rem;
}

.navSelection ul::-webkit-scrollbar-thumb {
    cursor: all-scroll;
    background-color: rgb(80, 156, 182);
    border-radius: 5rem;
    border: 2px solid #224238;
}

.navSelection ul li {
    transition: .2s;
    margin: 0 10px;
    border-radius: 1rem;
    cursor: pointer;
    text-wrap: nowrap;
    box-shadow: 0 5px 0 #17303b;
    background-color: #1E3C49;
    transition: .3s;
    padding: .8rem 1.5rem;
    color: #DDDDDD;
}

.navSelection ul li a {
    color: #DDDDDD;
    font-family: 'Libre Baskerville';
    text-decoration: none;
    display: block;
}

.navSelection ul li:hover {
    transform: translateY(1px);
    box-shadow: 0 4px 0 #102027 ;
    background-color: #1e3c4980;
}

.navSelection ul li:active {
    box-shadow: 0 1px 0 #000000 ;
    transform: translateY(4px);
    transition: .1s;
}

.navSelection-body {
    transition: .2s ease-in-out;
    opacity: 0;
}

.navSelection-backArrow {
    background-color: rgb(210, 47, 18);
    position: absolute;
    top: 5%;
    left: 1%;
    padding: .1rem .3rem;
    border-radius: 1rem;
    opacity: 0;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.navSelection-backArrow:hover {
    background-color: rgb(143, 33, 14);
}

.navSelection-BTN {
    width: 50%;
    border-radius: 0 0 1rem 1rem;
    border: none;
    position: absolute;
    top: 100%;
    transition: .25s ease-in-out ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden ;
    height: 0 ;
    padding: 0 ;
    background-color: #335F70;
    color: #DDDDDD;
    box-shadow: 0 3px 1px black;
}

.navSelection-BTN:hover {
    background-color: #305a6b;
    color: #FFFFFF;
    box-shadow: 0 2px 2px black;
}

.navSelection-BTN svg {
    fill: white !important;
}

.navLinks_titles-active {
    padding: .8rem 2rem;
    max-height: 46px;
}

.navSelection-BTN-active {
    max-height: 1rem !important;
    padding: 1rem;
}

/* Hero Section //////////////////////////////////////////////////// */

/* .hero {
    background: url(images/hero-background.webp);
    background-size: cover;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
}

.hero .hero_preTitle {
    position: absolute;
    font-size: 1.2rem;
    color: #C0C0C0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300; 
    top: 40%;
    transition: .5s;
    animation: fadeInUp 1s ease-out;
}

.hero .hero_title {
    font-size: 3.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, #F8E6A0, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.3);
    opacity: 0;
    z-index: 1;
}

.hero_title-animation {
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
} */

/* Main //////////////////////////////////////////////////// */

/* main {
    display: flex;
    align-items: center;
    height: 80%;
    user-select: none;
    padding: -1rem 0;
} */

/* Books Section */

/* .books_cambridge {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.books_cambridge-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2A9D8F ;
}

.books_cambridge-books {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.books_cambridge-books span {
    color:#8AB17D;
    background-color: #4A4A4A;
    height: 368px;
    width: 90px;
    margin: 0 1rem;
    border-radius: .5rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: scale .5s ,width .5s;
    padding: 3rem 0;
    box-shadow: 0 0 5px #000000;
}

.books_cambridge-books span:hover {
    scale: 1.11;
    width: 100px;
}

.books_cambridge-books p {
    margin-top: 11.1875rem;
    transition: .5s;
}

.camT{
    margin-top: 3rem  !important;
}

.books_cambridge-books span button {
    background-color: #3A5A40 ;
    color: #ffffff ;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: inherit;
    height: 15%;
    margin: 0 1rem;
    margin-top: 1rem;
    transition: .3s;
    border: none;
    box-shadow: 0 0 5px #283f2c ;
    opacity: 0;
    visibility: hidden;
}

.books_cambridge-books span button:hover {
    background-color: #263b2a ;
} */

/* Activation Classes For Books */

/* .bookActiveButtons {
    opacity: 1 !important;
    visibility: visible !important;
}

.bookActiveP {
    margin-top: 1.5rem !important;
    transition: margin-top 0.5s !important;
}

.bookActiveWidth {
    width: 200px !important;
    scale: 1.11 !important;
} */
