body {
    margin: 0;
    height: 100vh;
    font-family: 'Libre Baskerville';
    background-color: #2A2A2A ;
}

/* Header //////////////////////////////////////////////////// */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #264653;
    padding: 0 2rem;
    height: 80px;
    box-shadow: 0 0 8px black;
    user-select: none;
    position: relative;
    z-index: 100;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.2rem;
    color: #E9C46A;
    font-family: "Cinzel", serif;
    font-weight: bold;
    margin-right: 3rem;
}

/* Header Links */

.headerLinks {
    flex-grow: .11;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}

.headerLinks .headerTitles {
    cursor: pointer;
    display: flex;
    color:  #F4A261;
    font-size: 1.5rem;
    width: 150px;
}

.headerLinks svg {
    margin-left: .5rem;
}

.headerLinks svg , .headerLinks .headerTitles {
    transition: .3s ease-in-out;
}

/* Header Links */

.headerLinks > div{
    position: relative;
    height: 100%;
}

.headerLinksItems {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#2D5546 ;
    width: 120%;
    border-radius: 0 0 1rem 1rem;
    transition: .55s ease-in-out ;
    list-style: none;
    margin: 0 ;
    box-shadow: 0 0 4px #1c3129;
    top: 100% !important;
    max-height: 0;
    overflow: hidden;
    padding: 0 .5rem;
    z-index: 50;
}

.headerLinksItems li {
    margin: .8rem 0;
    font-weight: 600;
    color: #eeece8;
    cursor: pointer;
    text-align: center;
}

.headerLinksItems li:hover {
    color: #b7afa5;
}

#headerListening:hover .headerListeningItems , #headerReading:hover .headerReadingItems  , #headerWords:hover .headerWordsItems , .headerListeningItems:hover , .headerReadingItems:hover {
    max-height: 500px;
    padding: 1rem .5rem;
}

.headerLinks > div:hover .headerTitles {
    color:  #d4711f;
}

.headerLinks > div:hover .headerTitles svg{
    transform: rotateZ(90deg);
}

/* Header Book Section */

.headerBooks {
    position: absolute;
    background-color: #356859;
    width: 80%;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 3px 5px #152921;
    color: #eeece8;
    transition: .4s ease-in-out ;

    overflow: hidden;
    height: 0;
}

.headerBooks_title {
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    background-color: #2e594c;
    z-index: 5;
    border-radius: 1rem 1rem 0 0;
    max-height: 0;
    overflow: hidden;
    transition: .25s ease-in-out ;
    padding: 0 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.headerBooks ul {
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0;
    overflow-x: auto;
    padding: 1.15rem 0;
    scroll-behavior: smooth;
    margin: 0 .5rem;
}

.headerBooks ul::-webkit-scrollbar {
    height: 10px;
    background-color: inherit;
    border-radius: 0 0 1rem 1rem;
}

.headerBooks ul::-webkit-scrollbar-thumb {
    cursor: all-scroll;
    background-color: #A7F3D0;
    border-radius: 5rem;
    border: 2px solid #224238;
}

.headerBooks ul li {
    transition: .2s;
    padding: 1rem 2rem;
    margin: 0 10px;
    border-radius: 1rem;
    cursor: pointer;
    text-wrap: nowrap;
    background-color:#224135;
    box-shadow: 0 5px 0 #000000 ;
}

.headerBooks ul li:hover {
    background-color:#224135;
}

.headerBooks ul li:active {
    box-shadow: 0 1px 0 #000000 ;
    transform: translateY(5px);
}

.headerBooks_closeBTN {
    background-color: #2e594c;
    width: 50%;
    border-radius: 0 0 1rem 1rem;
    border: none;
    position: absolute;
    top: 100%;
    transition: .25s ease-in-out ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden ;
    height: 0 ;
    padding: 0 ;
}

.headerBooks_closeBTN:hover {
    background-color: #2a5145;
}

.headerBooks_closeBTN svg {
    fill: white !important;
}

.headerBooks_title-active {
    padding: .8rem 2rem;
    max-height: 46px;
}

.headerBooks_closeBTN-active {
    max-height: 1rem !important;
    padding: 1rem;
}

/* Nav //////////////////////////////////////////////////// */

.hero {
    background: linear-gradient(180deg, #2C4A42 0%, #000000 100%);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero .hero_preTitle {
    position: absolute;
    font-size: 1.2rem;
    color: #C0C0C0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300; 
    top: 40%;
    transition: .5s;
    animation: fadeInUp 1s ease-out;
}

.hero .hero_title {
    font-size: 3.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, #F8E6A0, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.3);
    opacity: 0;
}

.hero_title-animation {
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/* Main //////////////////////////////////////////////////// */

main {
    display: flex;
    align-items: center;
    height: 80%;
    user-select: none;
    padding: -1rem 0;
}

/* Books Section */

.books_cambridge {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.books_cambridge-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2A9D8F ;
}

.books_cambridge-books {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.books_cambridge-books span {
    color:#8AB17D;
    background-color: #4A4A4A;
    height: 368px;
    width: 90px;
    margin: 0 1rem;
    border-radius: .5rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: scale .5s ,width .5s;
    padding: 3rem 0;
    box-shadow: 0 0 5px #000000;
}

.books_cambridge-books span:hover {
    scale: 1.11;
    width: 100px;
}

.books_cambridge-books p {
    margin-top: 11.1875rem;
    transition: .5s;
}

.camT{
    margin-top: 3rem  !important;
}

.books_cambridge-books span button {
    background-color: #3A5A40 ;
    color: #ffffff ;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: inherit;
    height: 15%;
    margin: 0 1rem;
    margin-top: 1rem;
    transition: .3s;
    border: none;
    box-shadow: 0 0 5px #283f2c ;
    opacity: 0;
    visibility: hidden;
}

.books_cambridge-books span button:hover {
    background-color: #263b2a ;
}

/* Activation Classes For Books */

.bookActiveButtons {
    opacity: 1 !important;
    visibility: visible !important;
}

.bookActiveP {
    margin-top: 1.5rem !important;
    transition: margin-top 0.5s !important;
}

.bookActiveWidth {
    width: 200px !important;
    scale: 1.11 !important;
}
